body {
  margin: 0;
  height: 100vh;
  background-color: black;
}
main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  margin: auto;
  box-shadow: 2px 2px 50px rgba(100, 100, 100, 0.7);
}
